__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

data/
checkpoints/
checkpoints_transformer/
*.pt
*.pth
*.ckpt

.ipynb_checkpoints/
*.log
wandb/

.DS_Store
.vscode/
.idea/
*_PRIVATE.ipynb
config_private.py
